/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    background-image: url('bdayimage.jpg'); /* Replace 'bdayimage.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
    image-rendering: pixelated; /* Prevent the background image from being blurry */
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 2% 0; /* Adjusted padding using percentage */
    text-align: center;
}

header h1 {
    font-size: 3vw; /* Adjusted font size using viewport width */
    text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5); /* Adjusted text shadow using viewport width */
}

/* Main content styles */
main {
    padding: 2%; /* Adjusted padding using percentage */
    text-align: center;
}

section {
    margin-bottom: 5%; /* Adjusted margin using percentage */
}

h2 {
    font-size: 2vw; /* Adjusted font size using viewport width */
    margin-bottom: 2%; /* Adjusted margin using percentage */
    color: #333;
}

video {
    width: 90%; /* Adjusted width using percentage */
    max-width: 100%; /* Ensure maximum width is 100% */
    height: auto; /* Maintain aspect ratio */
    border-radius: 2vw; /* Adjusted border radius using viewport width */
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2); /* Adjusted box shadow using viewport width */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1% 0; /* Adjusted padding using percentage */
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1vw; /* Adjusted font size using viewport width */
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 4vw; /* Adjusted font size for smaller screens */
    }

    h2 {
        font-size: 3vw; /* Adjusted font size for smaller screens */
    }

    video {
        border-radius: 3vw; /* Adjusted border radius for smaller screens */
        box-shadow: 0 0 3vw rgba(0, 0, 0, 0.2); /* Adjusted box shadow for smaller screens */
    }

    footer p {
        font-size: 2vw; /* Adjusted font size for smaller screens */
    }
}
